# Python virtual environment
*.pyc
__pycache__/
webapp/__pycache__/
*.pyo
*.pyd

/pmsvenv

# VSCode
.vscode/

# Django static/media
static/
media/

# .idea
.idea/

# Pre-commit/patch cache
.cache/
*.patch

# Git
.git/

# temp files
*.swp
*.swo
*.tmp
*.bak
*.orig
*.save
*.~

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# 其他
*.log
*.out
*.pid
